@import url('https://fonts.googleapis.com/css2?family=Anton&family=Orbitron:wght@500&display=swap');

body {
	background-color: #f0f2f3;
	/* background-color: #4a4a4a; */
}

body h1, h3 {
	font-family: 'Orbitron', sans-serif;
}

.home-paper {
	height: 600px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.developer, .engineer {
	align-self: center;
	width: auto;
	margin: -7em 4% 0 4%;
	text-align: center;
	z-index: 1;
	color: white;
}

.developer h1, .engineer h1 {
	font-family: 'Orbitron', sans-serif;
}

.developer p, .engineer p {
	color: white;
	height: 75px;
	padding: 0 5em;
	font-family: 'Orbitron', sans-serif;
}

.hero {
	width: 100%;
	max-width: 1800px;
	height: 600px;
	object-fit: cover;
	position: absolute;
	z-index: 0;
}

.about {
	height: 400px;
	width: 100%;
	margin: 4em 0 0 0;
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
}

.text {
	grid-column-start: 1;
	text-align: center;
	padding: 0 20px;
	width: 600px;
	margin: 0 20px;
}

.text h3 {
	color: #b9a013;
}

.text h3,
p {
	font-family: 'Orbitron', sans-serif;
}

.text p {
	font-size: 13px;
	line-height: 1.5em;
	color: #565657;
}

.family {
	grid-column-start: 2;
}

.family-pic {
	height: 325px;
	border-radius: 5%;
	box-shadow: -4px 8px 15px;
}

.tech {
	height: 700px;
	width: 100%;
	display: grid;
	/* grid-template-columns: %; */
	grid-template-rows: 60px auto 60px auto;
	margin: 4em 0 0 0;
}

.tech-icons {
	margin: .5em 1em;
}

.project-title {
	grid-column-start: 1;
	grid-row-start: 1;
	text-align: center;
	height: 50px;
	margin: 1em 0;
}

.projects {
    display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	grid-row-start: 2;
    grid-column-start: 1;
	margin: 3em auto;
	max-width: 775px;
}

.icon-title {
	grid-column-start: 1;
    grid-row-start: 3;
	margin: 1em 0;
	height: 50px;
	text-align: center;
}

.icons {
    grid-column-start: 1;
	grid-row-start: 4;
    margin: 1em 1em;
	height: 50px;
	width: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.contact {
	width: 100%;
	height: 525px;
	margin: 4em 0 1em 0;
	display: grid;
	grid-template-columns: auto auto;
}

.contactform {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 500px;
	grid-column-start: 1;
	margin: 0 2em;
}

.collaborate {
	grid-column-start: 2;
	display: flex;
	flex-direction: column;
    width: auto;
}

.footer {
	height: 2em;
	display: flex;
	justify-content: center;
	bottom: 0;
}

.footer-text {
	margin: 0 0.5em;
}


/* Media queries */
@media all and (max-width: 600px) and (min-width: 300px) {
	.developer, .engineer {
		padding-top: 4em;
		margin: 5em 2% 0 2%;
	}
	
	.developer h1, .engineer h1 {
		font-size: 22px;
	}

	.developer p, .engineer p {
		font-size: 14px;
		margin: 0;
	}
	
	.about {
		height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: space-between;
		padding: 2em 0;
		margin: 2em 0;
	}

	.text {
		width: auto;
	}

	.text h1 {
		font-size: 22px;
	}

	.text h3 {
		font-size: 16px;
	}

	.text p {
		font-size: 12px;
	}

	.family-pic {
		width: 300px;
		height: auto;
	}

	.tech {
		height: auto;
		display: flex;
		flex-direction: column;
	}

	.icons {
		height: auto;
		display: flex;
		justify-content: center;
		margin: 0 0 1.5em 0;
	}

	.project-title, .tech-title {
		margin: 1em auto 0 auto;
		font-size: 24px;
	}

	.projects {
		margin: 0 auto;
	}

	.contact {
		height: auto;
		display: flex;
		flex-direction: column;
	}

	.contactform {
		width: auto;
		margin: 0 0 2em 0;
	}

	.collaborate {
		align-items: center;
	}

	.text h1, .contactform h1, .collaborate h1 {
		font-size: 24px;
		margin: .5em 0 0 0;
		text-align: center;
		
	}

}

@media all and (max-width: 1200px) and (min-width: 600px) {
	.developer, .engineer {
		padding-top: 4em;
	}
	
	.developer h1, .engineer h1 {
		font-size: 22px;
	}

	.developer p, .engineer p {
		font-size: 14px;
	}
	
	.about {
		height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: space-between;
		padding: 2em 0;
		margin: 2em 0;
	}

	.text {
		width: auto;
	}

	.text h1 {
		font-size: 22px;
	}

	.text h3 {
		font-size: 16px;
	}

	.text p {
		font-size: 12px;
	}

	.family-pic {
		width: 300px;
		height: auto;
	}

	.tech {
		height: auto;
		display: flex;
		flex-direction: column;
	}

	.icons {
		height: auto;
		display: flex;
		justify-content: center;
		margin: 0 0 1.5em 0;
	}

	.project-title, .tech-title {
		margin: 1em auto 0 auto;
		font-size: 24px;
	}

	.projects {
		margin: 0 auto;
	}

	.contact {
		height: auto;
		display: flex;
		flex-direction: column;
	}

	.contactform {
		width: auto;
		margin: 0 0 2em 0;
	}

	.collaborate {
		align-items: center;
	}

	.text h1, .contactform h1, .collaborate h1 {
		font-size: 24px;
		margin: .5em 0 0 0;
		text-align: center;
		
	}

}